main {
    background-image: url('../img/foto-home.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    display: flex;
    align-items: flex-start;
}

@keyframes example {
    from {opacity: 0;}
    to {opacity: 1;}
  }
  
  main img {
    animation-name: example;
    animation-duration: 1s;
  }