main {
    width: 100%;
    color: white;
}

div#imagem {
    background-image: url(../img/junji-ito.webp);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 100%;
    width: 50%;
}
div#texto {
    padding: 2vw;
    width: 50%;
    height: 100%;
    background-color: #201c1c;
}
div#texto h2 {
    padding-bottom: 2vh;
    font-size: 3em;
}
.principal {
    width: 100%;
    display: flex;
    flex-direction: row;
    background-color: #201c1c;
    height: 100vh;
}
.imagem {
    width: 40%;
    background-color: rgba(0, 0, 0, 0.226);
}
.texto {
    width: 50%;
}
